# Logs
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npm-debug.log*
*.log
logs

# Build files
.massivewikibuilder
node_modules
.svelte-kit
dist-ssr
*.local
dist

# Editor directories and files
!.vscode/extensions.json
.DS_Store
*.njsproj
.vscode
*.ntvs*
.idea
*.suo
*.sln
*.sw?

# Local Netlify folder
.netlify
