.root {
	background-color: white;
	color: white;
}

button, svg {
	&:focus {
		outline: none;
	}
}


svg { display: block; }		/* override inline to eliminate unwanted vertical displacements */
div { user-select: text; }
