* {
	background-color: var(--css-background-color);
}

svg {
	display: block;		/* override inline to eliminate unwanted vertical displacements */
}

div, svg, span, input {
	background-color: transparent;
}

button, svg {
	&:focus {
		outline: none;
	}
}

html, body {
	overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
