b {
	color: #2aa;
}

i {
	color: #b52;
}

.help-ul {
	line-height: 1.2;
	list-style-type: number;
}

.help-li {
	margin-top: 0.2em;
	padding-bottom: 0.3em;
}

.help-modal-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.1);
}

.help-modal-content {
	padding: 10px;
	max-width: 500px;
	font-size: 0.8em;
	border-radius: 4px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button {
	top: 10px;
	right: 10px;
	color: #000;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	display: inline-block;
	border: 1px solid black;
}

.centered-container {
	width: 100%;
	display: flex;
    margin: 0 auto;
	position: absolute;
	text-align: center;
    display: inline-block;
}
