strong { color: green; }
hr { height: 1px; }
em { color: red; }

li {
  line-height:1;
  padding:2px;
}

a {
  font-weight: bold;  /* Makes the text bold */
  text-decoration: underline; /* Underlines the text */
}

.navbar.is-info {
  background-color: #dc9532;
}

.section {
  padding: 2rem 1.5rem;
}
